header {
  font-size: 20px;
  background-color: forestgreen;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: white;
}

h2 {
  color: forestgreen;
  font-family: "Courier New", Courier, monospace;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: 0;
  background-color: wheat;
  padding: 20px;
}

.icons-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  height: 240px;
  width: 1200px;
}
*/ .p {
  display: inline-block;
  display: flexbox;
  display: flex;
}

.weather {
  text-align: center;
  display: inline-block;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 5px;
}

.temp {
  text-align: center;
  display: inline-block;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 5px;
}

.windSpeed {
  text-align: center;
  display: inline-block;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 5px;
}

.hum {
  text-align: center;
  display: inline-block;
  margin: 0;
  margin-bottom: 5px;
  margin-left: 5px;
}

.forecast-container {
  position: absolute;
  top: 70%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 300px;
  width: 1300px;
}
